/* header item */

.f-img{
   margin-left: 100px;
   margin-top: 20px;
}

li{

   list-style: none;
   
}

a{
   text-decoration: none;
   color: black;
}

.nav-link-2{
   display: flex;
   /* gap: 30px; */
   margin-right: 100px;
   
}

.nav-link{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer-item-1{
   display: flex;
   justify-content: space-around;
    
}

.jhamela{
   width: 570px;
   height: 355px;
    margin-top: 240px;
}

.h1-part{
   font-size: 65px;
    margin-top: 300px;
}

.cart-item{
   width: 20px;
    margin-right: 10px;

}
.cart-item-1{
   font-weight: bold;
}
/* end header item */


/* start main item */
.main-part-1{
   font-size: 50px;
   text-align: center;
}

.main-part-2{
   font-size: 22px;
   color: #5e5c5c;
   text-align: center;
}

.card-8{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
   
}
.card-1{
    margin: auto ; 
    
   
}
.detail-1{
   text-align: center;
}
.detail-2{
   text-align: center;
}
.button-1{
   margin-left: 84px;
}




/* media query */

@media  screen and (max-width:576px)  {


/* header part */
   
   .nav-link{
      flex-direction: row;
      
      
      }
      .nav-link-2{
         margin-top: 80px;
      }

  
   .none-1{
      display: none;
   }
   .footer-item-1{
      flex-direction: column-reverse;
      
     
   }
.jhamela{
   width: 100%;
   height: auto;
   margin-top: 30px;
    
}
.h1-part{
   font-size: 40px;
   margin-top: 20px;
}

.f-img{
   margin-left: 20px;
}

.cart-item{
   margin-left: 100px;
  
}

/* end header part */


}